.hero {
  @extend .text-center;
  @extend .container;

  padding: 2rem 1rem;

  h1 small {
    display: block;
  }

  .video {
    margin: 2rem auto;
    
    iframe {
      border: 1px solid #eee;
      box-shadow: 2px 2px 5px #eee;
    }
  }
}
