/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/9/2014
* Sass Version by Seth Coelen https://github.com/whatsnewsaes
*/

/* Base files. */
@import "base/normalize";
@import "base/variables";
@import "base/mixins";
@import "base/functions";
@import "base/base-styles";
@import "base/utils";
@import "base/typography";

/* Modules */
@import "modules/grid";
@import "modules/buttons";
//@import "modules/forms";
//@import "modules/lists";
//@import "modules/code";
//@import "modules/tables";
@import "modules/sections";
@import "modules/spacing";
@import "modules/media-queries";




.wave-container {
	min-height: 300px;
	height: 25vh;
	position: relative;
}
	.wave {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 1;
		overflow: hidden;
		svg {
			vertical-align: top;
			margin-bottom: -5px;
			width: 300%;
			height: auto;
			animation: wave 20s linear infinite;
			* {
				fill: $primary-color;
			}
		}
	}

@-webkit-keyframes wave {
  0%   { transform: translate3d(0, 0, 0); }
  100% { transform: translate3d(-50%, 0, 0); }
}
@-moz-keyframes wave {
  0%   { transform: translate3d(0, 0, 0); }
  100% { transform: translate3d(-50%, 0, 0); }
}
@-o-keyframes wave {
  0%   { transform: translate3d(0, 0, 0); }
  100% { transform: translate3d(-50%, 0, 0); }
}
@keyframes wave {
  0%   { transform: translate3d(0, 0, 0); }
  100% { transform: translate3d(-50%, 0, 0); }
}

