<% link_to 'https://twitter.com/MikeRogers0', target: '_blank', rel: 'noopener', class: 'levelsio-by' do %>
  <span>Made by</span>
  <%= image_tag 'https://mikerogers.io/images/mike-rogers-tiny.jpg', alt: 'Photo of Mike on a Snowmobile' %>
  <span class="maker">Mike Rogers</span>
<% end %>
