// Base Styles
//––––––––––––––––––––––––––––––––––––––––––––––––––

html {
  font-size: 16px;
  background-color: $accent-a;
}

:root {
  font-size: calc(.35vw + 14.6px);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 96.429em) {
  :root {
    font-size: 1.25rem;
    /* limit to 20px (at a 16px default scale) */
  }
}

body {
  background-color: $white;
  min-height: 100%;
  min-height: 100vh;
  line-height: 1.5;
  font-weight: 400;
  font-family: $font-body;
  color: $font-color;
}

section {padding: $space-m 0;}

// Links
//––––––––––––––––––––––––––––––––––––––––––––––––––

a {
  color: $link-color;

  &:hover {
    color: darken($link-color, 25%);
  }
}
