// Mixins
//––––––––––––––––––––––––––––––––––––––––––––––––––

@mixin flexbox {
	display:-webkit-box;
	display:-moz-box;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:flex;
}

@mixin flex-direction($direction) {
	@if $direction == column {
		-webkit-flex-direction:vertical;
		-moz-flex-direction:vertical;
		-ms-flex-direction:column;
		-webkit-flex-direction:column;
		flex-direction:column;
	}
	@else {
		-webkit-flex-direction:horizontal;
		-moz-flex-direction:horizontal;
		-ms-flex-direction:row;
		-webkit-flex-direction:row;
		flex-direction:row;
	}
}

@mixin justify-content($justify) {
	-webkit-justify-content: $justify;
	-moz-justify-content: $justify;
	-ms-justify-content: $justify;
	justify-content: $justify;
	-ms-flex-pack: $justify;
}