// Typography
//––––––––––––––––––––––––––––––––––––––––––––––––––

h1, h2, h3, h4, h5, h6 {
	font-family: $font-heading;
  margin-top: 0;
  margin-bottom: 2rem;
  line-height: 1.3;
}

h1 { font-size: 2.6em; letter-spacing: -.1rem;  }
h2 { font-size: 2.2em; letter-spacing: -.1rem;  }
h3 { font-size: 1.8em; letter-spacing: -.07rem;  }
h4 { font-size: 1.4em; letter-spacing: -.05rem; }
h5 { font-size: 1.2em; letter-spacing: -.05rem; }
h6 { font-size: 1em;   letter-spacing: 0;       }

h1, h2, h3, h4 {font-weight: 100;}
h5, h6 {font-weight: 300;}

small {
  font-size: 75%;
}