// Typography
//––––––––––––––––––––––––––––––––––––––––––––––––––

h1, h2, h3, h4, h5, h6 {
	font-family: $font-heading;
  margin-top: 0;
  margin-bottom: 2rem;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;
  //letter-spacing: -.05rem;
}

h1 {font-size: 3.2em;}

h2 {
	font-size: 1.5em;
	font-family: $font-body;
}

h3 {
	font-size: 1.25em;
	letter-spacing: -.035rem;
}

//h4 {font-size: 1.4em;}

//h5 {font-size: 1.2em;}
//h6 {font-size: 1em;}


small {
  font-size: 75%;
}

h2 {font-family: $font-body;}

@media (#{$bp-larger-than-phablet}) {
	h1, h2, h4, h5, h6 {text-align: left;}
}