// Variables
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Breakpoints
$bp-larger-than-mobile    : "min-width: 400px" !default;
$bp-larger-than-phablet   : "min-width: 550px" !default;
$bp-larger-than-tablet    : "min-width: 750px" !default;
$bp-larger-than-desktop   : "min-width: 1000px" !default;
$bp-larger-than-desktophd : "min-width: 1200px" !default;

// Defaults
$white: #fefefe !default;
$light-grey: #e5eff5 !default;
$mid-grey: #738a94 !default;
$dark-grey: #343f44 !default;

// Brand
$blue: #2B93D8 !default;
$green: #24AFBA !default;

// Palette
$primary-color: $blue !default;
$secondary-color: $green !default;
$accent-a: lighten($primary-color, 0.5) !default;

$border-color: $primary-color !default;
$link-color: $primary-color !default;
$font-color: $dark-grey !default;

// Typography
$font-heading: "Roboto", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Roboto", "Droid Sans", "Ubuntu", sans-serif !default;


//Grid Variables
$container-width: 960px !default;
$container-width-larger-than-mobile: 85% !default;
$container-width-larger-than-phablet: 80% !default;
$total-columns: 12 !default;
$column-width: 100 / $total-columns !default; // calculates individual column width based off of # of columns
$column-margin: 4% !default; // space between columns

// Spacing
$space-s: 20px !default;
$space-m: 45px !default;
$space-l: 90px !default;

// Misc
$global-radius: 3px !default;
