// Variables
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Breakpoints
$bp-larger-than-mobile    : "min-width: 400px" !default;
$bp-larger-than-phablet   : "min-width: 550px" !default;
$bp-larger-than-tablet    : "min-width: 750px" !default;
$bp-larger-than-desktop   : "min-width: 1000px" !default;
$bp-larger-than-desktophd : "min-width: 1400px" !default;

// Palette
$slate-blue: #23455b !default;
$purple-blue: #6922ca !default;
$purpley: #9a58de !default;
$yellow-green: #b0ff82 !default;
$white: #f1f1f1 !default;

// Brand
$brand-blue: #2B93D8 !default;
$brand-green: #24AFBA !default;

// Colors
$primary-color: $slate-blue !default;
$secondary-color: $purple-blue !default;
$accent-a: $purpley !default;
$accent-b: $yellow-green !default;
$border-color: $secondary-color !default;
$background-color: rgba($yellow-green, 0.5) !default;
$link-color: $secondary-color !default;
$font-color: $primary-color !default;

// Typography
$font-heading: "Hammersmith One", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-body: -apple-system, BlinkMacSystemFont, "Open Sans", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Roboto", "Droid Sans", "Ubuntu", sans-serif !default;


//Grid Variables
$container-width: 1200px !default;
$container-width-small: 85% !default;
$container-width-medium: 80% !default;
$total-columns: 12 !default;
$column-width: 100 / $total-columns !default; // calculates individual column width based off of # of columns
$column-margin: 4% !default; // space between columns

// Spacing
$space-s: 20px !default;
$space-m: 45px !default;
$space-l: 90px !default;

// Misc
$global-radius: 0 !default;
$transition: .2s ease-out !default;
