<header class="hero">
  <h1>TrackChanges for Google Chrome™ <small>Change, Save & Share</small></h1>

  <a href="#" class="btn btn-download">
    <%= image_tag 'ChromeWebStore_Badge_v2_496x150.png', alt: 'Download in the Chrome Store', width: 248, height: 75 %>
  </a>
</header>

<section class="summary text-center container">
  <h2>What is TrackChanges</h2>
  <p>TrackChanges is a Google Chrome™ extension that allows you to create a developer friendly summary of changes made using the Chrome's Inspect tool.</p>

  <div class="video">
    [Fun video explaining it in 30 seconds]
  </div>
</section>

<section class="text-center container">
  <a href="#" class="btn btn-download">
    <%= image_tag 'ChromeWebStore_Badge_v2_496x150.png', alt: 'Download in the Chrome Store', width: 248, height: 75 %>
  </a>
</section>

<footer class="credits">
  <p>TrackChanges was created by <a href="https://mikerogers.io/">Mike Rogers</a>, landing page master crafted by <a href="#">[Your Link Here]</a>.</p>
  <p>© 2017 <a href="https://mikerogers.io/">Mike Rogers</a></p>
</footer>
