<header>
	<div class="container">
		<div class="logo-container">
			<div>
				<%= image_tag 'track-changes-mark.svg', width: 70, height: 50 %>
			</div>
			<div>
				<%= image_tag 'track-changes-logo.svg', width: 123, height: 40 %>
			</div>
		</div>
	</div>
</header>

<section id="hero">
	<div class="container">
		<h1>A friendly way to update code</h1>
		<h3>Change, save, and share code within your browser 😎</h3>
		<a href="https://chrome.google.com/webstore/detail/trackchanges/apjhnklilfgkagjmiklcffnaggponkdc" class="button">Download <i class="fa fa-external-link-square" aria-hidden="true"></i></a><br /><small>currently available for Google Chrome</small>
	</div>
</section>

<section id="video">
	<iframe width="560" height="315" src="https://www.youtube.com/embed/UtCo_gN8cKg?rel=0" frameborder="0" allowfullscreen></iframe>
</section>

<div class="container">
	<section id="#details">
		<p>TrackChanges is a Google Chrome™ extension that allows you to create a developer friendly summary of changes made using the Chrome's Inspect tool.</p>
	</section>
</div>

<footer>
	<div class="container">
		<p>TrackChanges was created by <a href="https://mikerogers.io/">Mike Rogers</a>. The landing page was created by <a href="https://sarahb.co">Sarah Ball</a>.</p>
		<p>© 2017 <a href="https://mikerogers.io/">Mike Rogers</a></p>
	</div>
</footer>