<div id="support">
  <div class="container container-small">
    <h1 class="section-title">Support for TrackChanges</h1>
    <p>You need help? No worries, send an <a href="mailto:me@mikerogers.io?subject=TrackChanges%20Help" target="_blank">email to Mike</a>!</p>
  </div>
</div>

