// Buttons
//––––––––––––––––––––––––––––––––––––––––––––––––––

.button,
button {
  display: block;
  padding: 20px 25px;
  max-width: 100%;
  line-height: 1;
  background-color: $background-color;
  border: 3px solid $border-color;
  border-radius: $global-radius;
  cursor: pointer;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  @include transition(background-color $transition);

  &:hover {
    background-color: rgba($secondary-color, 0.1);
  }

  a {
    font-weight: 600;
    text-align: center;
    text-decoration: none;

    &:hover {color: $secondary-color;}
  }
}