// Buttons
//––––––––––––––––––––––––––––––––––––––––––––––––––

.button,
button {
  display: inline-block;
  padding: 20px 25px;
  max-width: 100%;
  color: $secondary-color;
  text-align: center;
  font-weight: 600;
  line-height: 1;
  text-decoration: none;
  white-space: nowrap;
  background-color: $background-color;
  border: 3px solid $border-color;
  border-radius: $global-radius;
  cursor: pointer;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  transition: .2s ease-out;

  &:hover {
    background-color: rgba($secondary-color, 0.1);
  }
}