// Lists
//––––––––––––––––––––––––––––––––––––––––––––––––––

ul {
  //list-style: circle inside;
  list-style: none;
  margin-bottom: 2rem;

  li {
    clear: left;
    @include flexbox();
    @include align-items(center);

    &:before {
      content: "";
      height: 50px;
      width: 50px;
      min-width: 50px;
      margin-right: 15px;
      display: block;
      float: left;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 85%;
      background-image:url("
        data:image/svg+xml;utf8,
        <svg width='65' height='65' viewBox='0 0 65 65' xmlns='http://www.w3.org/2000/svg'><g fill-rule='nonzero' fill='none'><path fill='#B0FF82' d='M59.557 51.625h-7.932v7.932l-45.24-45.24 7.933-7.93'/><path fill='#23455B' d='M37.47 39.674l2.205-2.203 13.052 13.053-2.204 2.204M9.25 11.453l2.203-2.203L24.36 22.157l-2.203 2.203M24.26 26.463l2.203-2.203 2.204 2.203-2.204 2.204M28.667 30.87l2.203-2.204 2.203 2.204-2.203 2.203M33.073 35.276l2.204-2.203 2.203 2.203-2.203 2.204'/><path fill='#23455B' d='M64.753 64.753l-13.937-3.8L5.284 15.418l2.203-2.204 44.947 44.947 7.878 2.15-2.15-7.88L13.217 7.488l2.203-2.203L60.95 50.816'/><path fill='#23455B' d='M59.557 53.183h-6.374v6.374h-3.115v-9.49h9.49M16.52 6.386L6.387 16.52l-5.068-5.066C.495 10.63.04 9.534.04 8.37c0-1.168.454-2.263 1.278-3.086l3.966-3.966C6.108.494 7.204.04 8.368.04c1.167 0 2.262.455 3.085 1.278l5.068 5.068zM6.387 12.114l5.728-5.728L9.25 3.522c-.235-.236-.55-.365-.883-.366-.33 0-.644.13-.88.365L3.522 7.49c-.234.235-.364.548-.364.88 0 .334.13.647.366.882l2.864 2.864z'/></g></svg>
        ");
      @include transition(background-size $transition);
    }

    &:hover:before {background-size: 100%;}
  }
}

ol {
  list-style: decimal inside;
  padding-left: 0;
  margin-top: 0;
}

ul {
  padding-left: 0;
  margin-top: 0;
  ul, ol {
    margin: 1.5rem 0 1.5rem 3rem;
    font-size: 90%;
  }
}

ol {
  ol, ul {
    margin: 1.5rem 0 1.5rem 3rem;
    font-size: 90%;
  }
}

li {
  margin-bottom: 1rem;
}

