// Section
//––––––––––––––––––––––––––––––––––––––––––––––––––

/* Hero */
#hero {
	padding: $space-m 0;
	text-align: center;
	background-size: auto 100%;
	background-image: url(/images/pencils.svg);

	span {background-color: $light-grey;}
}

/* Header */
header {padding: $space-m 0 $space-s;}

.logo-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 50px;
	font-size: 0;
}

/* Footer */
footer {
	background-color: $primary-color;
	padding: $space-s 0;
	font-size: 70%;

	a {
		color: $font-color;
		border-bottom: 1px solid $font-color;

		&:hover {
			color: $font-color;
		}
	}
}