// Section
//––––––––––––––––––––––––––––––––––––––––––––––––––

/* Hero */
#hero {
	background-image: linear-gradient(136deg, #76efd1, #58d7e6);
	//padding: $space-m 0;
	//background-size: auto 100%;
	//span {background-color: $light-grey;}

	//h1 {margin: 0;}
}

//.container {display: flex;}

/* Header */
header {padding: $space-m 0 $space-s;}

.logo-container {
	/*display: flex;
	flex-direction: row;
	align-items: center;
	height: 50px;*/
	font-size: 0;
}

/* Footer */
footer {
	background-color: $primary-color;
	padding: $space-s 0;
	font-size: 70%;

	a {
		color: $font-color;
		border-bottom: 1px solid $font-color;

		&:hover {
			color: $font-color;
		}
	}
}