// Section
//––––––––––––––––––––––––––––––––––––––––––––––––––

.container {
	padding-top: $space-m;
	padding-bottom: $space-m;
}

.container-small {
	max-width: 768px;
}

svg {@extend .fit;}

/* Logo */

.logo {
	font-size: 0;
	@include flexbox();
	@include flex-direction(row);
	@include justify-content(flex-end);
	@include align-items(flex-start);
	margin-bottom: $space-m;

	:first-child {margin-right: 5px;}
}

/* Hero */
#hero {
	background: #beffdb;
	background: -moz-linear-gradient(-45deg, #beffdb 0%, #82eefb 100%);
	background: -webkit-linear-gradient(-45deg, #beffdb 0%,#82eefb 100%);
	background: linear-gradient(135deg, #beffdb 0%,#82eefb 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#beffdb', endColorstr='#82eefb',GradientType=1 );

	.btn {
		margin: 0 auto;
		display: block;
	}
}

.graphic {
	position: relative;
	padding-top: $space-m;
}

.step-1, .step-2, .step-3, .arrow-1, .arrow-2a {
	padding-top: $space-m;
}

.step-1, .step-2, .step-3 {
	width: 250px;
	margin: 0 auto;
}

.arrow-1 {
	width: 65px;
	margin: 0 auto;
}

.arrow-2a {
	width: 65px;
	margin: 0 auto;
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

.arrow-2b {display: none;}

/* Dividers */
.divider-1,
.divider-2 {
  display: block;
  width: 100%;
  width: 100vw;
  height: 50px;
  margin-top: 50px;
}

.divider-1 {
  background: image-url('divider-1.svg');
  margin-top: 100px;
}

.divider-2 {
  background: image-url('divider-2.svg');
}

/* Video */
#video {margin-top: -200px;}

.video-wrapper {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	margin: 0 auto;
	border: 10px solid #beffdb;
}

.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Footer */
footer {
	background: $purple-blue; /* Old browsers */
	background: -moz-linear-gradient(top, $purple-blue 0%, $purple-blue 40%, $purpley 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, $purple-blue 0%,$purple-blue 40%,$purpley 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, $purple-blue 0%,$purple-blue 40%,$purpley 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	text-align: center;

	p {color: $yellow-green;}
	a {
		color: $yellow-green;

		&:hover {
			color: $purpley;
		}
	}
}

// Larger than phablet
@media (#{$bp-larger-than-phablet}) {
	#hero {
		.btn {
			margin: 0;
			display: inline-block;
		}
	}
}

// Larger than tablet
@media (#{$bp-larger-than-tablet}) {
	#hero {
		.title {width: 50%;}
		.subtitle {width: 50%;}
		.container {
			position: relative;
			height: 1000px;
		}
	}

	.graphic {
		position: absolute;
		top: 200px;
		width: 100%;
		padding-top: 0;
	}

	.step-1, .step-2, .step-3, .arrow-1, .arrow-2b {
		position: absolute;
		padding: 0;
	}

	.step-1, .step-2, .step-3 {
		margin: none;
	}

	.step-1 {right: 9vw;}

	.arrow-1 {
		right: 6vw;
		top: 225px;
	}

	.arrow-2a {display: none;}
	.arrow-2b {display: block;}

	.step-2 {
		right: 0;
		top: 338px;
	}

	.arrow-2b {
		right: 26vw;
		top: 600px;
	}

	.step-3 {
		left: 0;
		top: 510px;
	}
}

// Larger than desktop
@media (#{$bp-larger-than-desktop}) {
	.step-1 {right: 12vw;}

	.arrow-2b {
		right: 27vw;
		top: 500px;
	}

	.step-3 {
		left: auto;
		right: 48vw;
		top: 470px;
	}
}

// Larger than Desktop HD
@media (#{$bp-larger-than-desktophd}) {
	.arrow-2b {
		right: 0;
		margin-right: 300px;
	}

	.step-3 {
		right: 0;
		margin-right: 550px;
	}
}

#how {
  .download-cta {
    text-align: center;

    .btn {
      display: block;

      @media (#{$bp-larger-than-phablet}) {
        display: inline-block;
      }
    }
  }
}
